<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*/ <th:block th:include="fragments/base :: head"></th:block> /*/-->

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">SIAC</a>
</nav>

<div class="container">
    <div class="row">
        <div class="col-6 mx-auto mt-5">
            <h3 class="my-3">Login</h3>
            <form action="/login" method="post" class="form-signin mt-3">
                <div class="form-group ">
                    <div>
                        <input type="text" class="form-control " placeholder="Email" name="email">
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <input type="password" class="form-control" placeholder="Senha" name="password">
                    </div>
                </div>

                <div class="form-group d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary w-50">Login</button>
                </div>

                <div class="form-group d-flex justify-content-center align-items-center">
                    <div class="col-md-9">
                        <th:block th:if="${error}">
                            <p class="alert alert-danger text-center" role="alert" th:text="${error}"></p>
                        </th:block>
                    </div>
                </div>

                <div class="form-group m-3">
                    <div class="w-100 text-center">Não possui conta? <a href="/registration">Registre-se aqui</a></div>
                </div>

            </form>
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/base :: scripts"></th:block> /*/-->
</body>
</html>